//fonts

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400; // Regular
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$font-family-text: Assistant, sans-serif;
$font-family-headers: Rubik, sans-serif;


$gray: #e4e4e4;
$dark_gray: #aaa;


$text_gray: #999999;
$text_light_gray: #cccccc;

// new colors

$hover_light_gray: #c8c8c8;
$hover_gray: #d1d3d4;
$hover_purple: #9f8dbc;
$disabled: #a48ec7;

$light_gray: #f2f2f2;
$border_gray: #7f7f7f;
$border_light_gray: #bcbec0;
$background_gray: #3D444B;

$text_black: #000;
$text_white: #fff;

$blue: #4c03d7;
$purple: #3f1c7a;
$red: #c8000c;
$green: #008d35;



//for block error
$background_red: #f2dede;
$border_red: #ebcccc;
// $red: #a94442;
$dark_red: #843534;
