<div class="btn-group" id="voicerecognition_menu_block">

  <button class="btn btn-success" id="vc-start">
    <i class="icon fa fa-play fa-fw m-0 p-0" title="Start" aria-label="Start"></i>
  </button>
  <button class="btn btn-danger" id="vc-stop" style="display: none">
    <i class="icon fa fa-stop fa-fw m-0 p-0" title="Stop" aria-label="Stop"></i>
  </button>

  <button id="vc-commands-help" type="button" class="btn btn-info" data-toggle="popover" data-placement="right"
    data-html="true" title="">
    <i class="icon fa fa-question-circle fa-fw m-0 p-0" title="help" aria-label=""></i>
  </button>

  <button id="vc-status" type="button" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="bottom"
    data-html="true" title="">

  </button>

</div>