<div class = "">
  <h3 class = "">{{#str}}howstudenseachteam, local_teamwork{{/str}}</h3>
  <label>
    <p>{{#str}}studentineachgroup, local_teamwork{{/str}}</p>
    <input id = "student_number" type = "number" value = "{{num_students}}">
  </label>
  <br>

  <button data-handler = "random" class = "btn btn-primary">{{#str}}maketeams, local_teamwork{{/str}}</button>
</div>
